In [1]:
import pandas

In [3]:
df=pandas.read_csv("C:\\Users\\itsni\\Desktop\\sample.csv")

In [4]:
df

    noopur  25  kanpur  computer science  2010
0     lyla  25  kanpur  computer science  2010
1  scooter  25  kanpur  computer science  2010
2    rishu  25  kanpur  computer science  2010

In [7]:
df1=pandas.read_json("C:\\Users\\itsni\\Documents\\sample.json")

In [8]:
print(df1)

                                     employees
0     {'firstName': 'John', 'lastName': 'Doe'}
1   {'firstName': 'Anna', 'lastName': 'Smith'}
2  {'firstName': 'Peter', 'lastName': 'Jones'}