In [11]:
# Write a function that returns the lesser of two given numbers if both numbers are even 
#but returns the greater if one or both numbers are odd

def lesser_of_two_even(a,b):
    if a % 2 == 0 and b % 2 == 0:
        if a > b:
            return b
        else:
            return a
    elif a % 2 != 0 or b % 2 !=0:
        if a > b:
            return a
        else:
            return b

In [14]:
lesser_of_two_even(2,5)

5

In [15]:
lesser_of_two_even(2,4)

2

In [19]:
#Write a function takes a two-word string and returns True 
#if both words begin with same letter

def animal_crackers(text):
    text1 = text.split()
    if text[0] == text1[1][0]:
        return True
    else:
        return False

In [20]:
animal_crackers('Levelheaded Llama')

True

In [21]:
animal_crackers('Crazy Kangaroo')

False

In [26]:
#Given two integers, return True if the sum of the integers is 20 
#or if one of the integers is 20. 
#If not, return False

def makes_twenty(n1,n2):
    return n1+n2 == 20 or n1 == 20 or n2 == 20

In [27]:
makes_twenty(20,10)

True

In [23]:
makes_twenty(20,10)

True

In [24]:
makes_twenty(2,3)

False

In [25]:
makes_twenty(12,8)

True

In [54]:
#LEVEL 1 PROBLEMS
#OLD MACDONALD: Write a function that capitalizes 
#the first and fourth letters of a name

def old_macdonald(name):
    return name[0:3].capitalize()+name[3:].capitalize()

In [56]:
old_macdonald('macdonald')

'MacDonald'

In [108]:
#MASTER YODA: Given a sentence, 
#return a sentence with the words reversed

def master_yoda(name):
    name1 = name.split()
    a = ''
    b = len(name1)
    for eachitem in name1:
        while(b>0):
            #' '.join(name1)
            a = a+name1[b-1]+" "
            b= b-1
    return a

In [109]:
master_yoda('We are ready')

'ready are We '

In [150]:
#Given an integer n, 
#return True if n is within 10 of either 100 or 200

def almost_there(n):
    if (abs(100 - n) <= 10) or (abs(200 - n) <= 10):
        return True
    else:
        return False

In [156]:
almost_there(190)

True

In [11]:
#Given a list of ints, return True 
#if the array contains a 3 next to a 3 somewhere.

def has_33(nums):
    n = len(nums)
    for item in range(0, n-1):
        if nums[item] == 3 and nums[item +1] == 3:
                return True
    else:
        return False

In [12]:
has_33([1, 3, 3])

True

In [13]:
has_33([1, 3, 1, 3])

False

In [14]:
has_33([3, 1, 3])

False

In [52]:
name = 'Hello'
newname = ''

for i in range(0,(len(name)-1)):
    j = 3
    while j>0:
        newname = newname + name[i]
        j= j-1
print(newname)
        
#print(name[0]+name[0]+name[0]+name[1]+name[1]+name[1])

HHHeeellllll

In [50]:
#PAPER DOLL: Given a string, 
#return a string where for every character
#in the original there are three characters


def paper_doll(text):
    new_text = ''
    for i in range(0,len(text)):
        j = 3
        while j>0:
            new_text = new_text + text[i]
            j = j-1
    return new_text

In [51]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [53]:
def paper_doll1(text1):
    new_text2 =''
    for i in text1:
        new_text2 += i*3
    return new_text2

In [54]:
paper_doll1('Hello')

'HHHeeellllllooo'

In [84]:
#BLACKJACK: Given three integers between 1 and 11, 
#if their sum is less than or equal to 21, return their sum. 
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, 
#if the sum (even after adjustment) exceeds 21, 
#return 'BUST'

def blackjack(a,b,c):
    if a+b+c <= 21:
        return a+b+c
    elif a+b+c>21 and 11 in [a,b,c]:
        sum = (a+b+c)-10
        if sum > 21:
            return 'BUST'
        else:
            return sum
    else:
        return 'BUST'

In [74]:
blackjack(5,6,7)

18

In [85]:
blackjack(9,9,9)

'BUST'

In [86]:
blackjack(11,11,11)

'BUST'

In [156]:
#SUMMER OF '69: 
#Return the sum of the numbers in the array,
#except ignore sections of numbers starting with a 6 and 
#extending to the next 9 (every 6 will be followed by at least one 9). 
#Return 0 for no num


def summer_69(arr):
    for index,num in enumerate(arr):
        if 6 not in arr:
            return sum(arr)
        if num == 6:
            count = index
            new_arr = arr[:count]
            print(new_arr)
            new_arr1 = arr[count:]
            print(new_arr1)
            for index1,value in enumerate(new_arr1):
                if value == 9:
                    count1 = index1
                    new_arr2 = new_arr1[count1+1:]
                    print(new_arr2)
    return sum(new_arr)+sum(new_arr2)

In [155]:
summer_69([1, 3, 5])

9

In [154]:
summer_69([4, 5, 6, 7, 8, 9])

[4, 5]
[6, 7, 8, 9]
[]

9

In [153]:
summer_69([2, 1, 6, 9, 11])

[2, 1]
[6, 9, 11]
[11]

14

In [157]:
summer_69([1,2,3,4, 5, 6, 7, 8, 9,10,11,12])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10, 11, 12]
[10, 11, 12]

48

In [208]:
#SPY GAME: Write a function that takes in a list of integers
#and returns True if it contains 007 in order


def spy_game(nums):
    
    code = [0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) ==1

In [209]:
spy_game([1,2,0,0,7])

True

In [210]:
spy_game([1,0,2,4,0,5,7])

True

In [337]:
#COUNT PRIMES: Write a function that returns 
#the number of prime numbers 
#that exist up to and including a given number count
    
def count_primes(num):
    if num<2:
        return 0
    primes =[2]
    x = 3
    while(x<=num):
        for y in range(3,x,2):
            if x % y == 0:
                x = x + 2
                break
        else:
            primes.append(x)
            x = x+2
            
    print(primes)
    return(len(primes))

In [340]:
count_primes(3)

[2, 3]

2

In [364]:
#PRINT BIG: Write a function that takes in a single letter, and 
#returns a 5x5 representation 

def print_big(letter):
    pattern = {1:"  * ",2:" *  * ",3:"******",4:" *  * "}
    alpha = {'A':[1,2,3,4,4], 'B':[1,2,3,3,4]}
    for patterns in alpha[letter.upper()]:
        print(pattern[patterns])

In [365]:
print_big('a')

  *
 *  *
******
 *  *
 *  *